<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>taskmanager</display-name>

	<!-- filter-mappings -->
	<filter>
		<filter-name>PageFilter</filter-name>
		<filter-class>com.taskmanager.filter.AccessFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
	
	<!-- servlet-mappings -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<!-- context-params -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/app-context*.xml</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<welcome-file-list>
		<welcome-file>login.jsf</welcome-file>
	</welcome-file-list>
	
</web-app>